*{
  margin: 0;
  padding: 0;
}
.navbar {
    display: block;
  }
  a{
    text-decoration: none;
    color: black;
  }
  li{
    margin-bottom: 15px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  @font-face {
    font-family: 'Chomsky Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Chomsky Regular'), url('./assets/Chomsky.woff') format('woff');
  }
h1{
    font-family: 'Chomsky Regular';
    font-weight: normal;
    text-align: center;
    font-size: 58px;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: center;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding: 0px;
    background-color: white;
    box-sizing: border-box;
    border-bottom: 2px solid;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
  }
  .card {
    margin-top: 15px;
    position: relative;
    overflow: hidden;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid gray;
    margin-left: 10px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  
    .flex-col {
      flex-flow: column;
    }
  }
  .link{
    color: gray;
  }
  .time{
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .description{
    font-weight: bold;
  }
  