
.menu-close{
  display: none;
}
.navbar{
  display: block;
}
relative-time{
  color: gray;
}
.navbar.visible{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 2rem;
  position: absolute;
  box-shadow: black 10px 10px 10px;
  background-color: white;
  .flex{
    height:auto;
    justify-content: left;
    flex-direction: column;
    align-items: start;
    top: 0;
    left: 0;
    bottom: 0;
  }
  /* .flex:hover{
    background-color: rgba(0, 0, 0,0.1);
  } */
  .menu-toggle{
    display: none;
    z-index: 1;
  }
  .hijos{
    width: 100%;
  }
  .hijos.active{
    border-bottom: none;
  }
  .hijos:hover{
    background-color:rgba(0, 0, 0, 0.1  )
  }
  .menu-close{
    display: block;
    border: none;
    background-color: white;
    height: 10px;
    font-weight: bold;
    font-size: 30px;
    margin: 5px;
    cursor: pointer;
  }
i:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
  .visible ul li{
    list-style: none;
    flex-direction: column;
  }
}
.navbar.visible .menu-toggle {
  display: none;
}
.menu-container.visible .menu-toggle {
  display: none;
}

.menu-container.visible .navbar {
  display: flex;
}
body.fixed {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
a{
  text-decoration: none;
  color: black;
}
span>a{
  color: white;
  text-align: center;
  margin: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .logo {
    color: white;
    text-align: center;
    margin: auto;
    .logo-item {
      background: black;
      padding: 7px;
      margin: 2px;
      font-weight: bold;
      font-size: 25px;
    }
  }
  
  .block {
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 3fr)); */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
  }
  .flex {
    display: flex;
    justify-content:center;
    align-items: center;
    gap:0px;
    padding: 0px;
    background-color: white;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
  }
  .hijos{
    font-size: 16px;
   padding: 8px;
   cursor: pointer;
   transition: background-color 0.3s ease;
   text-align: center;
   font-weight: bold;
 }
  .hijos:hover{
    background-color: rgba(0, 0, 0, 0.1);

  }
  .hijos.active {
    border-bottom: 3px solid black; /* Barra negra en el elemento activo */
}

  .min-h-60px {
    min-height: 60px;
  }
  
  .p-10 {
    padding: 10px;
  }
  
  .shadow-md {
    box-shadow: 0 0 10px #00000061;
  }
  
  .transparent {
    background: transparent;
  }
  
  .dialog-search {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
  }
  .menu-toggle {
    border: none;
    cursor: pointer;
    padding: 0px 20px;
    font-size: 32px;
    font-weight: bold;
    font-family: math;
    display: block;
  }
  
  .close-btn {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  dialog {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 10px #00000061;
    width: min(800px, 100%);
    padding: 20px;
    position: relative;
    text-align: center;
  }
  
  #search-results {
    list-style-type: none;
    padding: 0;
  }
  
  .disabled {
    color: #ccc;
    user-select: none;
  }
  #site-search {
    border: 2px solid #000;
    height: 2em;
    text-indent: 10px;
    width: 100%;
  }
  
  .card {
    position: relative;
    box-shadow: 0 0 10px lightgray;
    border-radius: 2%;
    overflow: hidden;
    padding: 10px 10px 10px 0;
    img {
      width: 80px;
      object-fit: cover;
    }
  
    .flex-col {
      flex-flow: column;
    }
  
    h5 {
      margin: 0;
      padding: 0;
    }
  
    p {
      font-size: x-small;
      color: gray;
    }
    relative-time {
      font-size: x-small;
    }
  }
  
  main {
    width: min(768px, 100%);
    margin: auto;


    .article-img{
        width: 100%;
    }
  }
  @media screen and (max-width:550px) {
    .navbar{
      display: none;
    }
    .navbar.visible{  
      display: block;
    }
  }